<html lang="en">
  <body>
    Type:<br />
    <select id="type">
      <option value="custom_default_settings">Custom Default Settings</option>
      <option value="button_to_touch">Button To Touch</option>
      <option value="window_size">Window Size</option>
      <option value="window_position">Window Position</option>
      <option value="log_file">Log File</option></select
    ><br /><br />

    <div id="custom_default_settings_div">
      Lines:<br />
      <textarea id="custom_default_settings_lines"></textarea><br />
      <iframe
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSkY9iDL80URBBXGqMUAvhD5OU0dRXZK3qOFYbdxfGQTEgj4vlDygTwDZ_o-tVx_OnGH1h1oaOcTRTC/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"
      ></iframe>
    </div>

    <div id="button_to_touch_div" style="display: none">
      X:<br />
      <input type="text" id="button_to_touch_x" value="6" /><br /><br />
      Y:<br />
      <input type="text" id="button_to_touch_y" value="6" /><br /><br />
      Params:<br />
      <input
        type="text"
        id="button_to_touch_params"
        value="engine:keyboard,code:6"
      />
    </div>

    <div id="window_size_div" style="display: none">
      Width:<br />
      <input type="text" id="window_size_width" value="400" /><br /><br />
      Height:<br />
      <input type="text" id="window_size_height" value="480" />
    </div>

    <div id="window_position_div" style="display: none">
      X:<br />
      <input type="text" id="window_position_x" value="0" /><br /><br />
      Y:<br />
      <input type="text" id="window_position_y" value="0" />
    </div>

    <div id="log_file_div" style="display: none">
      File path:<br />
      <input type="text" id="log_file_file_path" value="log.txt" />
    </div>

    <br />
    <button id="makePlugin">Make Plugin</button>

    <script
      src="https://cdn.jsdelivr.net/npm/file-saver@2.0.2/dist/FileSaver.min.js"
      integrity="sha256-u/J1Urdrk3nCYFefpoeTMgI5viU1ujCDu2fXXoSJjhg="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/jszip@3.5.0/dist/jszip.min.js"
      integrity="sha256-cNXRgwrU74TQiTDsep3TqNE1ZOBPrOmYVYWi+fM8czw="
      crossorigin="anonymous"
    ></script>

    <script src="{{ site.baseurl }}/plugin-maker/custom-default-settings-regexes.js"></script>
    <script src="{{ site.baseurl }}/plugin-maker/code-only.js"></script>
  </body>
</html>
