<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>

  <body>
    <div class="wrapper">
      <section>
        <div id="title">
          <h1>vvctre</h1>
          <p>
            <a href="https://github.com/vvanelslande/vvctre">GitHub Repository</a><br />
            <a href="https://github.com/vvanelslande/vvctre/releases">Download</a><br />
          </p>
          <p><a href="https://discord.gg/fgEx2DygfD"><img src="https://discord.com/api/guilds/692523028046676048/widget.png?style=shield" alt="Discord Server"></a> <a href="/vvctre/license.txt"><img src="https://img.shields.io/badge/License-GPLv2%2B-brightgreen" alt="License: GPLv2+"></a></p>
          <p><a href="https://www.patreon.com/vvctre"><img src="https://c5.patreon.com/external/logo/become_a_patron_button.png" alt="Become a patron"></a></p>
          <br>
          <hr>
          <ul>
            <li><a href="{{ site.baseurl }}/requirements/">Requirements</a></li>
            <li><a href="{{ site.baseurl }}/faq/">FAQ</a></li>
            <li><a href="{{ site.baseurl }}/hidden-features/">Hidden Features</a></li>
            <li><a href="{{ site.baseurl }}/dumping-guides/">Dumping Guides</a></li>
            <li><a href="{{ site.baseurl }}/plugins/#plugin-makers">Plugins > Plugin makers</a></li>
            <li><a href="{{ site.baseurl }}/plugins/#github">Plugins > Plugin list > GitHub</a></li>
            <li><a href="{{ site.baseurl }}/plugins/#patreon-tier-2">Plugins > Plugin list > Patreon tier #2</a></li>
            <li><a href="{{ site.baseurl }}/plugins/#templates">Plugins > Templates</a></li>
            <li><a href="{{ site.baseurl }}/plugins/#functions-plugins-can-export">Plugins > Functions plugins can export</a></li>
            <li><a href="{{ site.baseurl }}/plugins/#vvctre-functions">Plugins > vvctre functions</a></li>
          </ul>
          <hr>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
        </div>

        {{ content }}

      </section>
    </div>
  </body>
</html>
